@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil|Great+Vibes');

@import 'top-nav.scss';
@import 'home-menu.scss';

.app-container {
    text-align: center;
    font-family: "Avenir";

    .main {
        padding: 10px;
    }
}